flask
flask_cors
flask_sqlalchemy
flask_migrate
sqlalchemy
psycopg2
flask_script
pyjwt
flask_httpauth
gevent
gunicorn
pandas
docxtpl
flask_mail
python-dotenv
itsdangerous
Werkzeug
pgpubsub
flask_socketio
gevent-websocket
python-docx
pytest
